<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="templates/head :: head">head</div>
<body>
	<div th:replace="templates/navbar :: nav">navbar</div>
	<div th:replace="templates/sidebar :: sidebar">sidebar</div>
	<div th:replace="templates/butonbaredit :: butonbaredit">butonbaredit</div>
		
	<div id="page-wrapper">
	<div class="col-lg-12">
      <h2 class="page-header">Movimiento del Trabajador</h2>
    </div>
	<form data-toggle="validator" role="form" action="#" th:action="@{guardar}" th:object="${movimiento}" method="post" id="myForm" class="form-horizontal">

 		<div class="form-group">
		  <label class="col-sm-2 control-label">Id Trabajador</label>
		  <div class="col-sm-2"  th:object="${trabajador}">
		    <input type="number" list="listaTrabajadores" class="form-control input-sm" th:field="${trabajador.id}" id="idTrabajadorMov" required="required"/>
		  </div>
		</div>
		  
 		<datalist id="listaTrabajadores">
 		<option th:each="tipos : ${trabajadores}" th:value="${tipos.id}" th:text="${tipos.id}+'-'+${tipos.nombre}">Id</option>
 		</datalist>  
 		
		 <div class="form-group">
		    <label class="col-sm-2 control-label">Base Imponible</label>
		    <div class="col-sm-2">
		      <input type="number" class="form-control input-sm" th:field="*{baseImponible}" required="required"/>
		    </div>
		    <label class="col-sm-2 control-label">Valor Retenido</label>
		    <div class="col-sm-2">
		      <input type="number" class="form-control input-sm" th:field="*{valorRetenido}" required="required"/>
		    </div>
		  </div>
		  
	<div class="well col-sm-6"> 

		  <div class="form-group">
		    <label class="col-sm-6 control-label">Sueldos y salarios (anual)</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" th:field="*{sueldosYSalarios}" required="required"/>
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label class="col-sm-6 control-label">Sobresueldos</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" th:field="*{sobresueldos}" required="required"/>
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label class="col-sm-6 control-label">Participacion y utilidades</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" th:field="*{participacionUtilidades}" required="required"/>
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label class="col-sm-6 control-label">Ing. con otros empleadores</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" th:field="*{ingresosOtrosEmpleadores}" required="required"/>
		    </div>
		  </div>
		  
		 <div class="form-group">
		    <label class="col-sm-6 control-label">IR asumido por empleador</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" th:field="*{irAsumidoOtrosEmpleadores}" required="required"/>
		    </div>
		  </div>
		  
		 <div class="form-group">
		    <label class="col-sm-6 control-label">Decimo tercer sueldo</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" th:field="*{decimotercerSueldo}" required="required"/>
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label class="col-sm-6 control-label">Decimo cuarto sueldo</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" th:field="*{decimocuartoSueldo}" required="required"/>
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label class="col-sm-6 control-label">Fondos de reserva</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" th:field="*{fondosReserva}" required="required"/>
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label class="col-sm-6 control-label">Salario digno</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" th:field="*{salarioDigno}" required="required"/>
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label class="col-sm-6 control-label">Otros ingresos no gravados</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" th:field="*{otrosIngresosNoGravados}" required="required"/>
		    </div>
		  </div>
		  
		 <div class="form-group">
		    <label class="col-sm-6 control-label">Ing. gravados empleador</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" required="required"/>
		    </div>
		  </div>
		  
		<div class="form-group">
		    <label class="col-sm-6 control-label">Aporte personal IESS con otros empleadores</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" th:field="*{iessOtrosEmpleadores}" required="required"/>
		    </div>
		  </div>
		  
		 <div class="form-group">
		    <label class="col-sm-6 control-label">Aporte personal IESS</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" th:field="*{aportePersonalEmpleadorActual}" required="required"/>
		    </div>
		  </div>		  
		  
		</div>
		
	<div class="well col-xs-6">
			<h4>Exoneraciones</h4>
		   	<div class="col-sm-4 col-sm-offset-4">Anual</div>
			<div class="col-sm-4">Mensual</div>
			
		  <div class="form-group">		    
		    <label class="col-sm-4 control-label">Por discapacidad</label>
		    <div class="col-sm-4">
		      <input type="text" class="form-control input-sm" th:field="*{exoneracionDiscapacidad}" readonly="readonly"/>
		    </div>
		    <div class="col-sm-4">
		    <input type="number" class="form-control input-sm" id="exoneracionDiscapacidadMensual" th:if="${!editandoMovimiento}" value="0.0" readonly="readonly"/>
		      <input type="number" class="form-control input-sm" id="exoneracionDiscapacidadMensual" th:if="${editandoMovimiento}" th:with="result=${movimiento.exoneracionDiscapacidad / 12}" th:value="${result}" readonly="readonly"/>
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label class="col-sm-4 control-label">Por tercera edad</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" th:field="*{exoneracionTerceraE}" readonly="readonly"/>
		    </div>
		    <div class="col-sm-4">
		    <input type="number" class="form-control input-sm" id="exoneracionTerceraEMensual" th:if="${editandoMovimiento}" th:with="result=${movimiento.exoneracionTerceraE / 12}" th:value="${result}" readonly="readonly"/>
		      <input type="number" class="form-control input-sm" id="exoneracionTerceraEMensual" th:if="${!editandoMovimiento}" value="0.0" readonly="readonly"/>
		    </div>
		  </div>
	</div>
		
	<div class="col-sm-6">
			<div class="form-group">
		    <label class="col-sm-4 control-label">Base Imp. gravada</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" required="required" th:field="*{baseImponibleGravada}"/>
		    </div></div>
		    
		    <div class="form-group">
			<label class="col-sm-4 control-label">Imp. a la renta causado</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" th:field="*{impuestoRentaCausado}" required="required"/>
		    </div></div>	    
		  
		   <div class="form-group">
		    <label class="col-sm-4 control-label">Retencion por otros empleadores</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" th:field="*{retencionOtrosEmpleadores}" required="required"/>
		    </div></div>
		  
		   <div class="form-group">
		    <label class="col-sm-4 control-label">Ir retenido empleador</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" th:field="*{irAsumidoEmpleadorActual}" required="required"/>
		    </div></div>
		    
		    <div class="form-group">
		    <label class="col-sm-4 control-label">Retenciones</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" th:field="*{retenciones}" required="required"/>
		    </div></div>
		  
		   <div class="form-group">
		    <label class="col-sm-4 control-label">Meses trabajados</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" th:field="*{mesesTrabajados}" max="12" required="required"/>
		    </div></div>
		  
		  <div class="form-group">
		    <label class="col-sm-4 control-label">Fecha</label>
		    <div class="col-sm-4">
		      <input type="text" class="form-control input-sm datePiker" th:field="*{date}" required="required"/>
		    </div>
		  </div>
  </div>
		  
	<div class="well col-sm-6">
			<h4>Deducción Gastos Personales</h4>
			<div class="col-sm-4 col-sm-offset-4">Anual</div>
			<div class="col-sm-4">Mensual</div>
			
		  <div class="form-group">
		    <label class="col-sm-4 control-label">Vivienda</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" required="required" th:field="*{vivienda}"/>
		    </div>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" id="mvivienda" th:if="${movimiento.vivienda != null}" th:with="result=${movimiento.vivienda / 12}" th:value="${result}"/>
		      <input type="number" class="form-control input-sm" id="mvivienda" th:if="${movimiento.vivienda == null}"/>
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label class="col-sm-4 control-label">Salud</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" required="required" th:field="*{salud}"/>
		    </div>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" id="msalud" th:if="${movimiento.salud != null}" th:with="result=${movimiento.salud / 12}" th:value="${result}"/>
		      <input type="number" class="form-control input-sm" id="msalud" th:if="${movimiento.salud == null}"/>
		    </div>
		  </div>

		  <div class="form-group">
		    <label class="col-sm-4 control-label">Educacion</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" required="required" th:field="*{educacion}"/>
		    </div>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" id="meducacion" th:if="${movimiento.educacion != null}" th:with="result=${movimiento.educacion / 12}" th:value="${result}"/>
		      <input type="number" class="form-control input-sm" id="meducacion" th:if="${movimiento.educacion == null}"/>
		    </div>
		  </div>

		  <div class="form-group">
		    <label class="col-sm-4 control-label">Alimentacion</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" required="required" th:field="*{alimentacion}"/>
		    </div>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" id="malimentacion" th:if="${movimiento.alimentacion != null}" th:with="result=${movimiento.alimentacion / 12}" th:value="${result}"/>
		      <input type="number" class="form-control input-sm" id="malimentacion" th:if="${movimiento.alimentacion == null}"/>
		    </div>
		  </div>

		  <div class="form-group">
		    <label class="col-sm-4 control-label">Vestimenta</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" required="required" th:field="*{vestimenta}"/>
		    </div>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" id="mvestimenta" th:if="${movimiento.vestimenta != null}" th:with="result=${movimiento.vestimenta / 12}" th:value="${result}"/>
		      <input type="number" class="form-control input-sm" id="mvestimenta" th:if="${movimiento.vestimenta == null}"/>
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label class="col-sm-4 control-label">TOTAL</label>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" id="totalAnual" th:if="${movimiento.vivienda != null}" th:with="result=${movimiento.vivienda + movimiento.salud + movimiento.educacion + movimiento.alimentacion + movimiento.vestimenta}" th:value="${result}"/>
		      <input type="number" class="form-control input-sm" id="totalAnual" th:if="${movimiento.vivienda == null}"/>
		    </div>
		    <div class="col-sm-4">
		      <input type="number" class="form-control input-sm" id="totalMensual" th:if="${movimiento.vivienda != null}" th:with="result=${(movimiento.vivienda)/12 + (movimiento.salud)/12 + (movimiento.educacion)/12 + (movimiento.alimentacion)/12 + (movimiento.vestimenta)/12}" th:value="${result}"/>
		    </div>
		  </div>
		  		  		  		    
	</div>
  
	   	<div><input type="hidden" id="editandoMovimiento" name="editandoMovimiento" th:value="${editandoMovimiento}"/>
	   		<input type="hidden"  id="idMovimieto" name="idMovimiento" th:value="${movimiento.idMovimiento}"/>
		 </div>
	</form>
	</div>

	<div th:replace="templates/footer :: footer">footer</div>

</body>
</html>