<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="templates/head :: head">head</div>    
<body>

	<div th:replace="templates/navbar :: nav">navbar</div>
	<div th:replace="templates/sidebar :: sidebar">sidebar</div>
	<div th:replace="templates/butonbaropcions:: butonbaropcions">butonbaropcions</div>
	<div th:replace="templates/alerts :: alerts">alerts</div>
		
	<div id="page-wrapper">
	<div class="col-lg-12">
      <h2 class="page-header">Gestor de Proveedores</h2>
    </div>
	<table class="table table-striped" id="paginar">
	<thead>
		<tr>
			<th></th>
			<th>Nombre</th>
			<th>Identificaci&oacute;n</th>
			<th>Email</th>
			<th>Tel&eacute;fono</th>
			<th>Opciones</th>
		</tr>
	</thead>
	
	<tbody>
		<tr th:each="fila : ${proveedores}">
	        <td><input type="checkbox" th:value="${fila.id}"/></td>
	        <td>
	        	<a href="datos.html" th:href = "@{proveedores/editar(id=${fila.id})}"><label th:text="${fila.nombre}"></label></a>
	        </td>
	        <td th:text="${fila.id}">id</td>
	        <td th:text="${fila.email}">email</td>
	        <td th:text="${fila.telefono}">telefono</td>
	        <td>
            	<a class="btn btn-primary btn-xs" href="#" th:href = "@{proveedores/eliminar(id=${fila.id})}" data-confirm="¿Estás seguro que deseas eliminar?"><label class="glyphicon glyphicon-trash"></label> Eliminar</a>
	        </td>
	    </tr>
	</tbody>
	
	</table>
	</div>
    <div th:replace="templates/footer :: footer">footer</div>	
</body>
</html>