<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment = "footer" class="footer">
	
	<div class="container">
		<div class="col-xs-4"><p class="text-white">Copyright © 2015 SITAC. All rights reserved.</p></div>
		<div class="social-likes col-xs-8">
		<div class="facebook" title="Share link on Facebook">Facebook</div>
		<div class="twitter" title="Share link on Twitter">Twitter</div>
		<div class="plusone" title="Share link on Google+">Google+</div>
		</div>
	</div>

    	    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.min.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.validation/1.13.1/additional-methods.min.js"></script>	
    <script src="http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.8/js/dataTables.bootstrap.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script th:src="@{/resources/util.js}"></script>
    <script th:src="@{/resources/messages_es.js}"></script>
    <script th:src="@{/resources/social-likes.min.js}"></script>

 	
</footer>

</html>