<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment = "head" >
<title>Sistema Integrado de Tributación</title>

    <!-- Bootstrap core CSSS -->
        <link th:href="@{/resources/bootstrap-3.3.4-dist/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/resources/bootstrap-3.3.4-dist/css/bootstrap-theme.min.css}" rel="stylesheet" />
            <!-- Timeline CSS -->
    	<link th:href="@{/resources/bootstrap-3.3.4-dist/css/timeline.css}" rel="stylesheet"/>
	    <!-- Custom CSS -->
	    <link th:href="@{/resources/bootstrap-3.3.4-dist/css/sb-admin-2.css}" rel="stylesheet"/>
	    <link th:href="@{http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css}" rel="stylesheet"/>
	    <link th:href="@{/resources/font-awesome-4.4.0/css/font-awesome.min.css}" rel="stylesheet"/>
	    <link th:href="@{//cdn.datatables.net/r/dt/dt-1.10.8/datatables.min.css}" rel="stylesheet" type="text/css"/>
	    <link th:href="@{/resources/social-likes_classic.css}" rel="stylesheet"/>

</head>
</html>