<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="templates/head :: head">head</div>
<body>

	<div th:replace="templates/navbar :: nav">navbar</div>
	<div th:replace="templates/sidebar :: sidebar">sidebar</div>
	<div th:replace="templates/butonbaropcions:: butonbaropcions">butonbaropcions</div>
	<div th:replace="templates/alerts :: alerts">alerts</div>
	
	<div id="page-wrapper">
	<div class="col-lg-12">
      <h2 class="page-header">Gestor de Importaciones</h2>
    </div>
	<table class="table table-striped" id="paginar">
	<thead>
		<tr>
			<th></th>
			<th>No Importaci&oacute;n</th>
			<th>Proveedor</th>
			<th>Tipo</th>
			<th>Fecha de Liquidaci&oacute;n</th>
			<th>Opciones</th>
		</tr>
	</thead>
	
	<tbody>
		<tr th:each="fila : ${importaciones}">
	        <td><input class="check" type="checkbox" th:value="${fila.idImportacion}"/></td>
	        <td>
	        	<a href="#" th:href = "@{importaciones/editar(id=${fila.idImportacion})}"><label th:text="${fila.idImportacion}"></label></a>
	        </td>
	        <td th:text="${fila.personalEmpresa.id}">cliente</td>
	        <td th:text="${fila.tipoExportacionImportacion.nombre}">tipo de exportacion</td>
	        <td th:text="${fila.fechaLiquidacion}">fecha de liquidacion</td>
	        <td>
            	<a class="btn btn-primary btn-xs" href="#" th:href = "@{importaciones/eliminar(id=${fila.idImportacion})}" data-confirm="¿Estás seguro que deseas eliminar?"><label class="glyphicon glyphicon-trash"></label> Eliminar</a>
	        </td>
	    </tr>
	</tbody>
	
	</table>
	</div>

    <div th:replace="templates/footer :: footer">footer</div>	
</body>
</html>