<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <mapping resource="ec/eac/sitac/model/Empresa.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.Empresa"/>       
        <mapping resource="ec/eac/sitac/model/PersonalEmpresa.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.PersonalEmpresa"/>
        <mapping resource="ec/eac/sitac/model/Compra.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.Compra"/>
        <mapping resource="ec/eac/sitac/model/Canton.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.Canton"/>
        <mapping resource="ec/eac/sitac/model/Ciudad.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.Ciudad"/>
        <mapping resource="ec/eac/sitac/model/ComprobanteReembolso.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.ComprobanteReembolso"/>
        <mapping resource="ec/eac/sitac/model/CondicionDeTrabajador.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.CondicionDeTrabajador"/>
        <mapping resource="ec/eac/sitac/model/DetallesCompra.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.DetallesCompra"/>
        <mapping resource="ec/eac/sitac/model/Exportacion.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.Exportacion"/>
        <mapping resource="ec/eac/sitac/model/IdentificacionCreditoGasto.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.IdentificacionCreditoGasto"/>
        <mapping resource="ec/eac/sitac/model/Importacion.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.Importacion"/>
        <mapping resource="ec/eac/sitac/model/Irpnr.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.Irpnr"/>
        <mapping resource="ec/eac/sitac/model/Movimiento.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.Movimiento"/>
        <mapping resource="ec/eac/sitac/model/Pais.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.Pais"/>
        <mapping resource="ec/eac/sitac/model/Producto.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.Producto"/>
        <mapping resource="ec/eac/sitac/model/Provincia.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.Provincia"/>
        <mapping resource="ec/eac/sitac/model/PuntoEmision.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.PuntoEmision"/>
        <mapping resource="ec/eac/sitac/model/Residencia.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.Residencia"/>
        <mapping resource="ec/eac/sitac/model/TarifaIva.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.TarifaIva"/>
        <mapping resource="ec/eac/sitac/model/TipoAmbiente.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.TipoAmbiente"/>
        <mapping resource="ec/eac/sitac/model/TipoCompra.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.TipoCompra"/>
        <mapping resource="ec/eac/sitac/model/TipoComprobante.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.TipoComprobante"/>        
        <mapping resource="ec/eac/sitac/model/TipoEmision.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.TipoEmision"/>
        <mapping resource="ec/eac/sitac/model/TipoExportacionImportacion.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.TipoExportacionImportacion"/>
        <mapping resource="ec/eac/sitac/model/TipoIce.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.TipoIce"/>
        <mapping resource="ec/eac/sitac/model/TipoIdentificacion.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.TipoIdentificacion"/>
        <mapping resource="ec/eac/sitac/model/TipoPago.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.TipoPago"/>
        <mapping resource="ec/eac/sitac/model/TipoPagoSegunLugar.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.TipoPagoSegunLugar"/>
        <mapping resource="ec/eac/sitac/model/TipoPagoVsCompra.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.TipoPagoVsCompra"/>
        <mapping resource="ec/eac/sitac/model/TipoProducto.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.TipoProducto"/>
        <mapping resource="ec/eac/sitac/model/TipoProveedorOCliente.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.TipoProveedorOCliente"/>
        <mapping resource="ec/eac/sitac/model/TipoSalario.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.TipoSalario"/>
        <mapping resource="ec/eac/sitac/model/TipoTransaccion.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.TipoTransaccion"/>
        <mapping resource="ec/eac/sitac/model/TipoVenta.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.TipoVenta"/>
        <mapping resource="ec/eac/sitac/model/TipoVentaSegunPago.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.TipoVentaSegunPago"/>
        <mapping resource="ec/eac/sitac/model/Venta.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.Venta"/>
        <mapping resource="ec/eac/sitac/model/VentaVsProducto.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.VentaVsProducto"/>
        <mapping resource="ec/eac/sitac/model/Cargo.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.Cargo"/>
        <mapping resource="ec/eac/sitac/model/Usuario.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.Usuario"/>
        <mapping resource="ec/eac/sitac/model/Rol.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.Rol"/>
        <mapping resource="ec/eac/sitac/model/EmpresaVsCliente.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.EmpresaVsCliente"/>
        <mapping resource="ec/eac/sitac/model/EmpresaVsProveedor.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.EmpresaVsProveedor"/>
        <mapping resource="ec/eac/sitac/model/EmpresaVsTrabajador.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.EmpresaVsTrabajador"/>
        <mapping resource="ec/eac/sitac/model/EstadoSRI.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.EstadoSRI"/>
        <mapping resource="ec/eac/sitac/model/EmpresaVsProducto.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.EmpresaVsProducto"/>
        <mapping resource="ec/eac/sitac/model/ImpuestoRenta.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.ImpuestoRenta"/>
        <mapping resource="ec/eac/sitac/model/DocumentosAnulados.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.DocumentosAnulados"/>
        <mapping resource="ec/eac/sitac/model/Discapacidad.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.Discapacidad"/>   
        <mapping resource="ec/eac/sitac/model/Banco.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.Banco"/> 
        <mapping resource="ec/eac/sitac/model/ImpuestoMora.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.ImpuestoMora"/>
        <mapping resource="ec/eac/sitac/model/AutorizarPermisoControlador.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.AutorizarPermisoControlador"/>   
        <mapping resource="ec/eac/sitac/model/DenegarPermisoControlador.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.DenegarPermisoControlador"/>
        <mapping resource="ec/eac/sitac/model/TerceraEdad.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.TerceraEdad"/> 
        <mapping resource="ec/eac/sitac/model/Retencion.hbm.xml"/>
        <mapping class="ec.eac.sitac.model.Retencion"/>                 
        
    </session-factory>
</hibernate-configuration>
