<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="templates/head :: head">head</div>
<body>

	<div th:replace="templates/navbar :: nav">navbar</div>
	
          <div class="home-page text-center">
            <h1 class="error-number">404</h1>
            <h2>P&aacute;gina no encontrada</h2>
            <p>Perece que ha habido un error con la p&aacute;gina que estabas buscando o ustede no tiene acceso a esta informaci&oacuta;n
            </p>
          </div>
		
    <div th:replace="templates/footer :: footer">footer</div>	
</body>
</html>