<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="templates/head :: head">head</div>
<body>

<!-- un modal para los reportes de compras -->
	<div class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Reporte de Compras</h4>
	      </div>
	      <div class="modal-body">
	      
	        <p>One fine body&hellip;</p>
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary">Aceptar</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	        
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


</body>
</html>