<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="pdf103View"
	   	class="ec.eac.sitac.util.PDF103Builder">
	</bean>
	
	<bean id="pdf104View"
	   	class="ec.eac.sitac.util.PDF104Builder">
	</bean>
	
	<bean id="pdfATSView"
	   	class="ec.eac.sitac.util.PDFATSBuilder">
	</bean>
	
</beans>